@charset "UTF-8";

/* サイズ変更 */
.size__change {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background: #ff0000;
}
@media screen and (max-width: 960px) {
  .size__change {
    width: 200px;
    height: 200px;
  }
}

.box {
  width: 300px;
  height: 300px;
}

/* 色変更 */
.color__change {
  margin: 0 auto;
  background: #ff0000;
}
@media screen and (max-width: 960px) {
  .color__change {
    background: #007bff;
  }
}

.d--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* margin値の変更 */
.margin__blue {
  background: #0008ff;
  margin-right: 150px;
}
@media screen and (max-width: 960px) {
  .margin__blue {
    margin-right: 50px;
  }
}
.margin__green {
  background: #22ff00;
}

/* floatの解除 */
.container {
  width: 600px;
  margin: auto;
}
.flt__red {
  background: #ff0000;
  float: left;
}
.flt__blue {
  background: #0008ff;
  margin-bottom: 40px;
  float: left;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 960px) {
  .flt__blue {
    clear: both;
  }
}

/* flexboxの入れ替え（逆順） */
.f--reverse {
  flex-direction: row;
}
.f--red__box {
  background: #ff0000;
}
.f--blue__box {
  background: #0008ff;
}
.f--orange__box {
  background: #ff8400;
}
.f--text {
  text-align: center;
  height: 300px;
  line-height: 300px; /* heightとline-heightを同じにして縦方向に中央寄せ */
}
@media screen and (max-width: 960px) {
  .f--reverse {
    flex-direction: row-reverse;
  }
}

/* flexboxの入れ替え（指定） */
.f--green__box {
  background: #00ff51;
}
.f--lightgreen__box {
  background: #d4ff00;
}
.f--pink__box {
  background: #ff00e1;
}
@media screen and (max-width: 960px) {
  .order :nth-child(1) {
    order: 2;
  }
  .order :nth-child(2) {
    order: 3;
  }
  .order :nth-child(3) {
    order: 1;
  }
}

/* 要素の表示・非表示 */
.d--red {
  background: #ff0000;
  display: block;
}
@media screen and (max-width: 960px) {
  .d--red {
    display: none;
  }
}
.h--blue {
  background: #0008ff;
  display: none;
}
@media screen and (max-width: 960px) {
  .h--blue {
    display: block;
  }
}
.d--green {
  background: #00ff51;
}
